{% import 'macros/form.html' as form %}

{% asset "file_upload_widget/css" %}
{% asset "file_upload_widget/js" %}


<div class="form-group control-medium file-upload-widget" data-module="file-upload-widget" data-module-instance-id="{{ field.field_name }}">
    <label class="form-label" for="{{ field.field_name }}">
        {% if field.required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}
        {{ h.scheming_language_text(field.label) }}
    </label>

    <div class="controls">
        <button type="button" class="btn btn-primary fuw-init-btn" data-bs-toggle="modal" data-bs-target="#uploadWidget-{{ field.field_name }}">
            {{ _("Upload") }}
        </button>

        <input id="{{ 'field-' + field.field_name }}-file" type="file" name="{{ field.field_name }}-file" value="" placeholder="" class="hidden">
        <input id="{{ 'field-' + field.field_name }}" type="hidden" name="{{ field.field_name }}" value="" placeholder="" class="hidden">

        {%- if field.help_text -%}
            {% set text = h.scheming_language_text(field.help_text) %}
            {{ form.info(
                text=text|safe if field.get('help_allow_html', false) else text,
                inline=field.get('help_inline', false))
            }}
        {%- endif -%}
    </div>

    <div class="modal fade" tabindex="-1" id="uploadWidget-{{ field.field_name }}" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa-solid fa-angles-left fuw-cancel-btn" style="display: none;"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- MAIN WINDOW -->
                    <div class="fuw-main-window">
                        <div class="fuw-main-window__dropzone">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <span>{{ _("Drag and drop files here") }}</span>
                        </div>
                        <div class="fuw-main-window__alternative">
                            <p class="fuw-or">{{ _("OR") }}</p>
                            <label for="{{ 'field-' + field.field_name }}-file" class="btn btn-primary btn-file-input">
                                {{ _("Browse files") }}
                            </label>
                            <button type="button" class="btn btn-primary btn-url-input">{{ _("URL") }}</button>
                            <button type="button" class="btn btn-primary btn-media-input">{{ _("Media gallery") }}</button>
                        </div>
                    </div>

                    <!-- URL INPUT WINDOW -->
                    <div class="fuw-url-input" style="display: none;">
                        <input
                            type="url"
                            required
                            disabled
                            aria-label="Enter URL to import a file"
                            placeholder="Enter URL to import a file" class="form-control"
                        >
                        <button type="button" class="btn btn-primary float-end mt-3 btn-url-import">{{ _("Import") }}</button>
                    </div>

                    <!-- MEDIA GALLERY WINDOW -->
                    <div class="fuw-media-input" style="display: none;">
                        <div class="search-input">
                            <input
                                aria-label="Search files..."
                                id="fuw-media-input--search"
                                type="search" class="form-control input-lg"
                                value=""
                                autocomplete="off"
                                placeholder="Search files..."
                                disabled
                            >

                            <span class="input-group-btn">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>

                        <ul class="fuw-media-input--files">
                            {% for file in h.fuw_get_user_files(g.userobj.id) %}
                                <li class="files--file-item" fuw-file-name="{{ file.name }}" fuw-file-id="{{ file.id }}" fuw-file-size="{{ file.size }}">
                                    <input type="checkbox" name="{{ 'file-item-{}'.format(file.id) }}" id="{{ 'file-item-{}'.format(file.id) }}">
                                    <label for="{{ 'file-item-{}'.format(file.id) }}">
                                        <div class="file-item--icon-wrapper">
                                            <img src="https://via.placeholder.com/16" referrerpolicy="no-referrer" loading="lazy" width="16" height="16">
                                        </div>
                                        <span class="file-name">{{ file.name }}</span>
                                        <span class="file-size text-muted">({{ h.fuw_printable_file_size(file.size) }})</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="fuw-media-input--empty" style="display: none;">
                            <p>{{ _("No files found") }}</p>
                        </div>
                    </div>

                    <!-- SELECTED FILES -->
                    <div class="fuw-selected-files" style="display: none;">
                        <ul class="fuw-selected-files--list list-unstyled">
                        </ul>

                        <div class="modal-inner-footer modal-footer--selected" style="display: none;">
                            <button type="button" class="btn btn-primary btn-upload-all"></button>
                            <button type="button" class="btn btn-black btn-cancel-for-upload">{{ _("Cancel") }}</button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer modal-footer--media" style="display: none;">
                    <button type="button" class="btn btn-primary btn-file-select">{{ _("Select") }} <span>0</span></button>
                    <button type="button" class="btn btn-black btn-cancel-file-select">{{ _("Cancel") }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
