@import "variables";
@import "mixins";

.file-upload-widget {
    .fuw-main-window {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        .fuw-or {
            margin: 1rem 0;
        }

        .fuw-main-window__dropzone {
            padding: 2rem;
            border-radius: 0.5rem;
            border: 2px dashed #ccc;
            width: 100%;

            &.active {
                border-color: black;
            }
        }

        .fuw-main-window__alternative {
            label.btn-file-input {
                &:after {
                    display: none;
                }
            }
        }
    }

    .fuw-url-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }

    .fuw-media-input {
        width: 100%;

        .search-input {
            margin-bottom: 1rem;
            position: relative;

            input {
                padding-left: 2rem;
            }

            .input-group-btn {
                position: absolute;
                left: 10px;
                top: 8px;

                i {
                    color: #6c757d;
                }
            }
        }

        .fuw-media-input--files {
            display: flex;
            flex-direction: column;
            padding: 0;
            border-radius: 0.5rem;
            height: 250px;
            overflow-y: scroll;

            .files--file-item {
                display: flex;
                padding: 7px 15px 7px 0;
                gap: 1rem;

                label {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    width: 100%;
                    margin-bottom: 0;

                    &:after {
                        display: none;
                    }

                    .highlight {
                        background-color: yellow;
                    }

                    // image preview
                    object {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                        background: #e8d8d8;
                        opacity: .5;
                        border-radius: 5px;
                    }

                    // file icon
                    i {
                        font-size: 2rem;
                    }
                }
            }
        }

        .fuw-media-input--empty {
            align-items: center;
            color: #939393;
            display: flex;
            height: 250px;
            flex: 1;
            flex-flow: column wrap;
            justify-content: center
        }
    }

    .fuw-selected-files {
        position: absolute;
        top: 0;
        width: 100%;

        ul.fuw-selected-files--list {
            width: 100%;
            height: 310px;
            overflow-y: scroll;
            padding-right: 1rem;

            li.fuw-selected-files--file-item-wrapper {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-bottom: 1px solid #eaeaea;
                padding: 0.5rem 0;
                position: relative;
                font-size: 14px;

                .fuw-selected-files--file-preview {
                    height: 50px;
                    width: 50px;
                    font-size: 2rem;
                    position: relative;
                    background: aliceblue;
                    box-shadow: 0 1px 2px #77777775;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .file-tile--file-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    object {
                        width: 100%;
                        max-height: 50px;
                        object-fit: contain;
                    }
                }

                .fuw-selected-files--file-info {
                    .fuw-selected-files--file-name {
                        -webkit-font-smoothing: antialiased;
                        word-wrap: anywhere;
                        font-size: 1em;
                        font-weight: bold;
                        line-height: 1.3;
                        word-break: break-all;
                    }

                    .fuw-selected-files--file-size {
                        font-size: 0.8em;
                        color: #757575;
                        font-weight: 400;
                        line-height: 1;
                    }
                }

                .fuw-selected-files--file-control {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-left: auto;

                    .file-tile--file-remove,
                    .file-tile--file-upload {
                        cursor: pointer;
                        background: black;
                        color: white;
                        border: 1px solid black;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .fuw-selected-files--progress {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }

    .fuw-cancel-btn,
    .fuw-close-selected-btn {
        cursor: pointer;
    }

    .hidden {
        display: none !important;
    }

    .modal {
        .modal-header {
            gap: 0.5rem;
            display: flex;
            align-items: center;

            .btn-close {
                padding: 0.5rem 0.5rem;
                margin: -0.5rem -0.5rem -0.5rem auto;

                box-sizing: content-box;
                width: 1em;
                height: 1em;
                padding: 0.25em 0.25em;
                color: #000;
                background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat;
                border: 0;
                border-radius: 0.25rem;
                opacity: 0.5;
            }
        }

        .modal-body {
            min-height: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .modal-inner-footer {
            padding: 0.75rem 0 0 0;
        }
    }

    &.form-group .btn {
        position: static;
    }

    .fuw-upload-btn {
        .fuw-uploaded-files-counter {
            background: white;
            color: black;
            border-radius: 50%;
            padding: 4px 7px;
            line-height: 1;
            font-weight: bold;
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (min-width: 576px) {
        .modal-dialog {
          max-width: 500px;
          margin: 1.75rem auto;
        }

        .modal-dialog-centered {
          min-height: calc(100% - 3.5rem);
        }
    }
}
