@import "variables";
@import "mixins";

.file-upload-widget {
    .fuw-main-window {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        .fuw-or {
            margin: 1rem 0;
        }

        .fuw-main-window__dropzone {
            padding: 2rem;
            border-radius: 0.5rem;
            border: 2px dashed #ccc;
            width: 100%;

            &.active {
                border-color: black;
            }
        }

        .fuw-main-window__alternative {
            label.btn-file-input {
                &:after {
                    display: none;
                }
            }
        }
    }

    .fuw-url-input {
        width: 100%;
    }

    .fuw-media-input {
        width: 100%;

        .search-input {
            margin-bottom: 1rem;
            position: relative;

            input {
                padding-left: 2rem;
            }

            .input-group-btn {
                position: absolute;
                left: 10px;
                top: 10px;

                i {
                    color: #6c757d;
                }
            }
        }

        .fuw-media-input--files {
            display: flex;
            flex-direction: column;
            padding: 0;
            border-radius: 0.5rem;
            height: 250px;
            overflow-y: scroll;

            .files--file-item {
                display: flex;
                padding: 7px 15px;
                gap: 1rem;

                label {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    width: 100%;

                    &:after {
                        display: none;
                    }

                    .highlight {
                        background-color: yellow;
                    }
                }
            }
        }

        .fuw-media-input--empty {
            align-items: center;
            color: #939393;
            display: flex;
            height: 250px;
            flex: 1;
            flex-flow: column wrap;
            justify-content: center
        }
    }

    .fuw-selected-files {
        position: absolute;

        ul.fuw-selected-files--list {
            width: 100%;
            height: 310px;
            overflow-y: scroll;
            padding-right: 1rem;

            li.fuw-selected-files--file-item-wrapper {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-bottom: 1px solid #eaeaea;
                padding: 0.5rem 0;
                position: relative;

                .fuw-selected-files--file-preview {
                    height: 50px;
                    width: 50px;
                    position: relative;
                    background: aliceblue;
                    box-shadow: 0 1px 2px #77777775;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .file-tile--file-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .fuw-selected-files--file-info {
                    .fuw-selected-files--file-name {
                        -webkit-font-smoothing: antialiased;
                        word-wrap: anywhere;
                        font-size: 1rem;
                        font-weight: bold;
                        line-height: 1.3;
                        word-break: break-all;
                    }

                    .fuw-selected-files--file-size {
                        font-size: 0.8rem;
                        color: #757575;
                        font-weight: 400;
                        line-height: 1;
                    }
                }

                .file-tile--file-remove,
                .file-tile--file-upload {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    background: black;
                    color: white;
                    border: 1px solid black;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .file-tile--file-upload {
                    right: 30px;
                }
            }

            .fuw-selected-files--progress {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }

    .fuw-cancel-btn,
    .fuw-close-selected-btn {
        cursor: pointer;
    }

    .hidden {
        display: none !important;
    }

    .modal {
        .modal-header {
            gap: 0.5rem;
        }
        .modal-body {
            min-height: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .modal-inner-footer {
            padding: 0.75rem 0 0 0;
        }
    }

    &.form-group .btn {
        position: static;
    }
}
